<html><head>
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/file-upload/file-upload.html">
<link rel="import" href="shared-styles.html">


</head><body><dom-module id="my-upload">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    iron-list {
	height: 100vh;
    }

    .item {
      @apply(--layout-horizontal);
      padding: 20px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid #ddd;
      max-width: 800px;
      margin: 16px auto 0 auto;
    }
    .item:focus {
      outline: 0;
      border-color: #333;
    }
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      box-sizing: border-box;
      background-color: #DDD;
    }
    .pad {
      padding: 0 16px;
      @apply(--layout-flex);
      @apply(--layout-vertical);
    }
    .primary {
      font-size: 16px;
      font-weight: bold;
    }
    .secondary {
      font-size: 14px;
    }
    .dim {
      color: gray;
    }
    .spacer {
      @apply(--layout-flex);
    }


    </style>

	<div class="card">
		<div class="circle">1</div>
		<h1>DeepZoom Image Processing for SAGE2</h1>
		<p>Upload a large image to be processed:</p>

	<ol>
                <li>
		<file-upload id="myupload"
			droppable="true" raised="true"
			drop-text="Or drop an image here"
			file-data-name="upload"
			target="/upload" method="POST">
                        <iron-icon icon="file-upload"></iron-icon>
			Choose a File
		</file-upload>
		</li>

		<li>
		<paper-button id="download" raised on-click="goLink">
			<iron-icon icon="file-download"></iron-icon>
			Download
		</paper-button>
		<iron-label id="mylabel">
			SAGE2 DZI file 
		</iron-label>
		<paper-spinner id="myspinner"></paper-spinner>
		</li>
	</ol>

		<p>Download the '.dzi' file and drop it onto the SAGE2 UI page of your wall.</p>

	</div>

	<div class="card">
		<div class="circle">2</div>
		<h1>Images already processed</h1>
		<h2>[[data.length]] images available</h2>

		<iron-ajax url="/imagelist" last-response="{{data}}" auto></iron-ajax>
		<iron-list items="[[data]]" as="item">


		<template>
		  <div>
		    <div class="item" tabindex$="[[tabIndex]]">
		      <iron-image class="avatar" sizing="contain" src="../images/logo.png"></iron-image>
		      <div class="pad">
			<div class="primary">[[item.name]]</div>

			<table>
			<tr>
			<td>
				<iron-image style="width:300px; height:200px;" sizing="contain" src="[[item.image]]"></iron-image>
			<td>
			<td>
				<div class="secondary">Download DZI file:
				  <paper-button raised on-tap="dziSelected" mypath$="[[item.link]]">[[item.name]]</paper-button>
				</div>
			<td>
			</tr>
			</table>



		      </div>
		    </div>
		  </div>
		</template>

		</iron-list>

		<div>
		</div>
	</div>

  </template>

  <script>
	function dlURL(url) {
		var link = document.createElement('a');
		link.href = url;
		if (link.download !== undefined) {
			// Set HTML5 download attribute.
			// This will prevent file from opening if supported.
			var fileName = url.substring(url.lastIndexOf('/') + 1, url.length);
			link.download = fileName;
		}
		// Dispatching click event
		if (document.createEvent) {
			var me = document.createEvent('MouseEvents');
			me.initEvent('click', true, true);
			link.dispatchEvent(me);
		}
	}

	Polymer({
		is:"my-upload",
		properties: {
			basename: String,
			dziURL: String
		},
		goLink: function(e) {
			dlURL(this.dziURL);
		},
		dziSelected: function (e) {
			var mypath = e.currentTarget.getAttribute('mypath'); 
			dlURL(mypath);
		},
                ready: function() {
			var _this = this;

			this.$.myupload.$.UploadBorder.style = "padding:10px 20px 10px 20px;"


                        var dlbutton = this.$.download;
			if (dlbutton) {
				console.log('Disable button');
				dlbutton.disabled = true;
			}
                        var uploader = this.$.myupload;
                        uploader.addEventListener("before-upload", function(e) {
				console.log('Going to upload');
				_this.$.myspinner.active = true;
                        });
                        uploader.addEventListener("error", function(e) {
				console.log('Error upload', e);
				_this.$.myspinner.active = false;
				setTimeout(function() {
					uploader.clear();
				}, 2000);
                        });
                        uploader.addEventListener("success", function(e) {
				var response = e.detail.xhr;
				_this.$.myspinner.active = false;
				console.log('Succes upload');
				if (response) {
					if (response.readyState == 4 && response.status == 200) {
						var url = response.responseURL;
						console.log('Got>', url);

						// Enable the download button
						dlbutton.disabled = false;

						// Update the properties
						_this.dziURL = url;
						var parser = document.createElement('a');
						parser.href = url;
						var dziname;
						var parts = parser.pathname.split('/');
						if (parts.length > 1) {
							dziname = parts[parts.length - 1];
						} else {
							dziname = parts[0];
						}
						_this.basename = dziname;
						_this.$.mylabel.innerHTML = "SAGE2 DZI file <em>" + _this.basename + "</em>";
					}
				}
				setTimeout(function() {
					uploader.clear();
				}, 2000);
                        });
                }
	});
  </script>
</dom-module>
</body></html>
